@using EntityLayer.Concrete;
@model Experiance
@{
    ViewData["Title"] = "AddExperiance";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="card-header border-0">
    @using (Html.BeginForm("AddExperiance", "Experiance", FormMethod.Post))
    {
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-description"> Yeni Deneyim Ekleme </p>
                        <div class="form-group">
                            <label >Başlık</label>
                            <input type="text" class="form-control" name="Name" placeholder="Başlık">
                        </div>
                        <div class="form-group">
                            <label>Tarih</label>
                            <input type="date" class="form-control" name="Date" placeholder="Tarih">
                        </div>
                        <div class="form-group">
                            <label>ImageUrl</label>
                            <input type="text" class="form-control" name="ImageUrl" placeholder="Resim Yolu">
                        </div>
                        <div class="form-group">
                            <label>Acıklama</label>
                            <textarea class="form-control" name="Description" rows="6"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                        <button class="btn btn-dark">İptal</button>
                </div>
            </div>
        </div>
    }
</div>